{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <li>{{ student.name }} {{ student.group }} </li>
    {% for teacher in student.teacher.all %}
      <p>{{ teacher.name }}: {{ teacher.subject }}</p>
    {% endfor %}
 {% endfor %}
<!--    {% for teacher in object_list %}-->
<!--    <li>{{ teacher.name }} {{ teacher.subject }} </li>-->
<!--    {% for student in teacher.students.all %}-->
<!--      <p>{{ student.name }}: {{ student.group }}</p>-->
<!--    {% endfor %}-->
<!-- {% endfor %}-->
  </ul>
</div>
{% endblock %}
